BASE/Assets/Shader/AVProVideoLitDiffuse (texture+color+fog+stereo support).shader

⁨TPU⁩/ ⁨Assets/⁨A_HUB_AVIAMOTORNAIA⁩/⁨HubScen/⁨TPU_Aviamotornaia/LightingData.asset 

⁨TPU⁩/⁨Assets/⁨A_HUB_LUKHMANOVSKAIA/⁨HubScen/TPU_Lukhmanovskaia/LightingData.asset 

TPU⁩/⁨Assets/⁨A_HUB_PETROVSKO_RAZUMOVSKAIA/⁨HubScen/TPU_Petrovsko_Razumovskaia/LightingData.asset 
